twitter{
  consumer{
    key = "Type here your consumer key"
    secret = "Type here your secret key"
  }
  token{
    access = "Type here your access token"
    secret = "Type here your secret token"
  }
}